html{
	//background-image: url("fond.jpg");
	background-color: white;
	background-repeat: repeat-x;
	margin:0px;
	height: 100%
}

body{
	width: 1000px;
	background-color: white;
	margin:0px;
	color: rgb(92,92,92);
	border-right: 1px solid rgb(64,64,64);
}

h1{
	padding: 4px;
	padding-top: 8px;
	padding-bottom:8px;
	margin: 0px;
	background-image: url("fond-titre.jpg");
	background-repeat: repeat-x;
	font-size: 32px;
	height: 40px;
	color: white;
}

h2{
	padding: 4px;
	padding-top: 4px;
	padding-bottom:4px;
	font-size: 22px;
	height: 16px;
	//color : rgb(100,160,255);
	color: rgb(128,128,128);
	margin:4px;
	width:1000px;
	text-align:center;
}

h1 a{
	color:white;
	text-decoration: none;
}

a{
	color: rgb(128,128,128);
	margin: 0px;
}

#corps{
	padding:4px;
	padding-top: 12px;
}

.important a{
	color: rgb(100,160,255);
}

.petit{
	font-size: 10px;
}

textarea{
	width: 990px;
	height: 350px;
	border: 1px solid rgb(128,128,128);
}

.erreur{
	margin: 4px;
	width: 990px;
	background-color: rgb(255,200,200);
	color: red;
	border:1px solid red;
}

.info{
	margin : 4px;
	width: 990px;
	background-color: rgb(200,255,220);
	color: rgb(53,200,78);
	border:1px solid rgb(53,200,78);
}
